h1{
  text-align:center;
  font-family: 'Press Start 2P', fantasy;
  font-size:38px;
  color:#FFD700;
  margin-top:2;
}

body{
  font-family:Monaco, monospace;
  background-color:deeppink;
  color:#FFFFFF;
  text-align:justify;
}

section{
  max-width:90%;
  margin:3px auto;
  line-height:1.5;
}

img{
  width:500px;
  display: block;
  margin:auto;
  

}

a:link{
  color:#FFD700;
}

a:visited{
  color:#FFFFFF;
}